@import "../../variables.less";

.job-panel {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  .task-card {
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;

      li {
        display: block;
        margin-right: 20px;
        i { margin-right: 10px; }
        // list-style: none;
      }
    }
  }
}
