@import "../../variables.less";

.console-panel {
  flex: 0 0 auto;
  height: 200px;
  display: flex;
  flex-direction: column;

  .console-log {
    position: relative;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(0, 0, 0, 0.5);
    border: @panel-border;
    border-width: 1px 0;
    font-family: 'Consolas', monospace;

    .command {
      color: #88e065;
    }
    // .response.ok {
    //   display: none;
    // }
    .error {
      color: #c5124a;
      // padding-left: 10px;
    }
  }

  .console-input-box {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  .console-input.simple-input {
    display: block;
    flex: 1 1 auto;
    box-sizing: border-box;
    margin-right: 10px;
    font-family: 'Consolas', monospace;
  }

  .console-send-button {
    flex: 0 0 auto;
    width: 60px;
  }
}
