@import "./variables.less";

body {
  height: 100vh;
  background: @page-background;
  color: @text-color;
  font-family: @default-font-face;
  font-size: @default-font-size;
}

button, input, select {
  display: inline-block;
  border: none;
  height: 30px;
  padding: 0 10px;
  border-radius: 2px;
}

button {
  flex: none;
  cursor: pointer;
  background-color: @button-default;
  color: @button-text-color;
  outline: none;
  font-size: 13px;
  border: 1px solid @button-default-border;
  box-sizing: border-box;
  transition: color 100ms, background-color 100ms, border-color 100ms;
  &:hover:not(:disabled) {
    background-color: lighten(@button-default, 4%);
    border-color: lighten(@button-default-border, 4%);
  }
  &:active:not(:disabled) {
    background-color: darken(@button-default, 7%);
    border-color: darken(@button-default-border, 7%);
  }
  &:disabled {
    cursor: not-allowed;
    filter: saturate(50%) brightness(50%);
  }
}

button.blue {
  background-color: @button-blue;
  border: 1px solid @button-blue-border;
  &:hover:not(:disabled) {
    background-color: lighten(@button-blue, 3%);
    border-color: lighten(@button-blue-border, 6%);
  }
  &:active:not(:disabled) {
    background-color: darken(@button-blue, 4%);
    border-color: darken(@button-blue-border, 2%);
  }
}

button.red {
  background-color: @button-red;
  border: 1px solid @button-red-border;
  &:hover:not(:disabled) {
    background-color: lighten(@button-red, 4%);
    border-color: lighten(@button-red-border, 4%);
  }
  &:active:not(:disabled) {
    background-color: darken(@button-red, 7%);
    border-color: darken(@button-red-border, 7%);
  }
}

.button-group {
  button {
    border-radius: 0;
    border-right-width: 0;
  }
  button:first-child {
    border-radius: 2px 0 0 2px;
  }
  button:last-child {
    border-radius: 0 2px 2px 0;
    border-right-width: 1px;
  }
}

input.simple-input {
  color: white;
  background: fade(white, 10%);
  border: @panel-border;
}

select {
  outline: none;
}

.loading-spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.loading-spinner:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading-spinner 1.2s linear infinite;
}
@keyframes loading-spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#root { height: 100%; }

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .main-header {
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: @panel-border;
    padding: 0 20px;
    flex: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
      font-size: 24px;
      font-weight: normal;
      margin: 0;
    }
  }
}

.scrollable {
  height: 0; // impossible to remember hack that fixes overflow scroll in flexbox! AGHHH
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: fade(@panel-border-color, 50%);
    border-radius: 1px;
  }
}

.panel {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  & > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    flex: 0 0 auto;
    background-color: @panel-background;
    border-bottom: @panel-border;


    & > * { margin-right: 10px; }
    & > *:last-child { margin-right: 0; }

    & > .spacer { flex-grow: 1; }
  }

  & > section {
    margin-bottom: 10px;
    &:last-child { margin-bottom: 0; }
  }
}

// img {
  // -webkit-user-drag: none;
  // -khtml-user-drag: none;
  // -moz-user-drag: none;
  // -o-user-drag: none;
  // user-drag: none;
// }

textarea { resize: none; }

.modal-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: fade(@dark-blue-background, 50%);
}
