body {
  position: relative;
  background-color: #181818;
  color: #cfcfd6;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  padding: 80px 80px 20px;
}

body::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position:absolute;
  z-index: -1;
  // background: url(../images/frikkin_laser_beams.jpg) top center no-repeat;
  background-size: 100%;
  opacity: 0.2;
  box-sizing: border-box;
  height: 100vh;
}

button, input, select {
  display: inline-block;
  border: none;
  height: 30px;
  padding: 0 10px;
  border-radius: 2px;
}

button {
  cursor: pointer;
  background-color: #a8a8b5;
  color: black;
  outline: none;
}
button:hover {
  background-color: #c4c4da;;
}

select {
  outline: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.loading-spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.loading-spinner:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading-spinner 1.2s linear infinite;
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
