@text-color: #cfcfd6;
@page-background: #181818;
@default-font-face: 'Open Sans', Arial, sans-serif;
@default-font-size: 14px;
@panel-border: 1px solid #7f8ea0;
@button-blue: #6591c5;
@button-red: #982c20;
@button-disabled-blue: #7f8ea0;
@button-disabled-red: #a0817e;
@button-text-color: #fff;
