@text-color: #cfcfd6;
@page-background: #181818;
@panel-background: #252525;

@default-font-face: 'Open Sans', Arial, sans-serif;
@default-font-size: 14px;
@panel-border-color: #585858;
@panel-border: 1px solid @panel-border-color;
// @button-blue: #6591c5;

@button-default: #545454;
@button-default-border: #6d6d6d;

@button-blue: #376dff;
@button-blue-border: #5281ff;
@button-red: #801408;
@button-red-border: #9a1f11;
@button-blue-disabled: #7f8ea0;
@button-red-disabled: #a0817e;
@button-text-color: #fff;

@dark-blue-background: #192d44;
