@import "../../variables.less";

.catalog-panel {
  @padding: 10px;

  width: 370px;
  padding: @padding;
  // height: 350px;
  position: relative;
  // overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border: @panel-border;
  border-radius: 2px;
  box-sizing: border-box;

  .design {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &.drag-hover {
    border-width: 2px;
    padding: @padding - 1;
    border-style: dashed;

    .drop-message {
      background-color: rgba(25, 45, 68, 0.75);
      transition: all 100ms;
    }
  }

  .drop-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    font-size: 18px;
    background-color: rgba(34, 41, 49, 0.75);
    transition: all 300ms;

    .drag-active & {
      opacity: 1;
    }
  }

  .design-catalog {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .file-input { display: none; }

    .upload-button { width: 100%; }

    .catalog-items {
      flex: 1 1 auto;
      display: grid;
      grid-template-columns: 100px 100px 100px;
      grid-gap: 10px;
      overflow-x: hidden;
      overflow-y: scroll;
      margin: 10px 0 0;

      &::-webkit-scrollbar-track {
        border: none;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #fff;
      }

      .design {
        height: 100px;
        width: 100px;
        border: 1px solid #7f8ea0;
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        img { filter: invert(100%); }
      }
    }

  }

  .design-editor {
    .design {
      img { filter: invert(100%); }
    }

    section {
      margin-bottom: 10px;
    }

    dl {
      display: grid;
      grid-template-columns: 30% 70%;
    }
    dt, dd {
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    dt {
      height: 30px;
      opacity: 0.5;
      padding-right: 10px;
      justify-content: flex-end;
    }
    dd {
      input { height: 25px; }
      .name-input, .description-input {
        width: 100%;
      }
      .dpi-input {
        width: 35px;
      }
    }

    .action-buttons {
      display: flex;
      flex-direction: row;

      button {
        margin-right: 10px;
        width: 80px;
      }
      button:last-child {
        width: unset;
        margin: 0 0 0 auto;
      }
    }
  }
}
