@import "../../variables.less";

.catalog-panel {
  flex: 1 1 auto;
  // @padding: 10px;
  // padding: @padding;
  padding: 1px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: @panel-background;
  border: @panel-border;
  border-radius: 2px;
  box-sizing: border-box;

  header {
    padding: 10px;
    flex: 0 0 auto;
    border-bottom: @panel-border;
  }

  .design {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid @panel-border-color;
    background-color: black;
  }

  &.dnd-hover {
    border-width: 2px;
    padding: 0px;
    // padding: @padding - 1;
    border-style: dashed;

    .drop-message {
      background-color: #192d44;
    }
  }

  .drop-message {
    position: absolute;
    top: 0;
    left: 0;
    z-index:1000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    font-size: 18px;
    background-color: #222931;
    transition: opacity 300ms ease-in-out;
  }

  &.dnd-can-drop .drop-message { opacity: 0.9; }

  section.scrollable {
    height: 0; // impossible to remember hack that fixes overflow scroll in flexbox! AGHHH
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;

    &::-webkit-scrollbar {
      width: 10px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: fade(@panel-border-color, 50%);
      border-radius: 1px;
    }
  }

  .design img { filter: invert(100%); }

  &.design-catalog {
    .file-input { display: none; }

    .upload-button { width: 100%; }

    .catalog-items {
      padding-right: 0;
      // display: grid;
      // grid-template-columns: 100px 100px 100px;
      // grid-gap: 10px;

      .design {
        float: left;
        margin: 0 5px 5px 0;
        height: 100px;
        width: 100px;
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }

  &.design-editor {
    .action-buttons {
      display: flex;
      flex-direction: row;

      button {
        margin-right: 10px;
        width: 80px;
      }
      button:last-child {
        width: unset;
        margin: 0 0 0 auto;
      }
    }

    .image-preview {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    section {
      margin-bottom: 10px;
      &:last-child { margin-bottom: 0; }
    }
    dl {
      display: grid;
      grid-template-columns: 30% 70%;
    }
    dt, dd {
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    dt {
      height: 30px;
      opacity: 0.5;
      padding-right: 10px;
      justify-content: flex-end;
    }
    dd {
      input { height: 25px; }
      .name-input, .description-input { width: 100%; }
      .dpi-input { width: 35px; }
    }

    .action-buttons {
      display: flex;
      flex-direction: row;

      button {
        margin-right: 10px;
        width: 80px;
      }
      button:last-child {
        width: unset;
        margin: 0 0 0 auto;
      }
    }
  }
}
