@import "../../variables.less";

#catalog-panel {
  @padding: 10px;

  width: 250px;
  padding: @padding;
  // height: 350px;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border: @panel-border;
  border-radius: 2px;
  box-sizing: border-box;

  .drop-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    font-size: 18px;
    background-color: rgba(34, 41, 49, 0.75);
    transition: all 300ms;

    .drag-active & {
      opacity: 1;
    }
  }

  &.drag-hover {
    border-width: 2px;
    padding: @padding - 1;
    border-style: dashed;
    .drop-message {
      background-color: rgba(25, 45, 68, 0.75);
      transition: all 100ms;
    }
  }

  .file-input { display: none; }

  button { width: 100%; }

  .catalog-items {
    flex: 1 1 auto;
    overflow-y: auto;
    margin: 10px 0 0;
    // border-top: 1px solid #7f8ea0;

    .design {
      cursor: pointer;
      border: @panel-border;
      &.loading {
        width: 50px;
        height: 50px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
