[Unit]
Description=uWSGI instance to serve AutoEngrave
Requires=network.target
After=network.target

[Service]
User=www-data
WorkingDirectory=/home/pi/AutoEngrave/server/nginx
ExecStart=/usr/local/bin/uwsgi -H /home/pi/.local/share/virtualenvs/server-ItEKEJxH -i wsgi.ini

[Install]
WantedBy=multi-user.target
