[Unit]
Description=uWSGI instance to serve AutoEngrave

[Service]
User=www-data
ExecStart=/bin/bash -c '\
    cd /home/pi/AutoEngrave/server; \
    sudo mkdir -p /run/uwsgi; \
    sudo chown www-data:www-data /run/uwsgi; \
    uwsgi -H /home/pi/.local/share/virtualenvs/server-ItEKEJxH -i wsgi.ini \
'

[Install]
WantedBy=multi-user.target
