body {
  position: relative;
  background-color: #181818;
  color: #c4c5ff;
  font-family: Consolas, Arial, sans-serif;
  font-size: 14px;
  padding: 40px 20px;
}

body::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position:absolute;
  z-index: -1;
  background: url(../images/frikkin_laser_beams.jpg) center no-repeat;
  background-size: cover;
  opacity: 0.2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header h1 {
  font-size: 20px;
  margin: 0;
}

#console-pane {
  width: 300px;
}
#console-log {
  margin-bottom: 10px;
  padding: 10px;
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #8a8bb3;
}


#console-log .command {
  color: #88e065;
}
#console-log .response {
  padding-left: 10px;
}
#console-log .error {
  color: #c5124a;
  padding-left: 10px;
}

#console-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #8a8bb3;;
  height: 30px;
  padding: 0 10px;
}

#comms-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}

#port-list {
  border: 1px solid #8a8bb3;
  width: 120px;
  height: 30px;
  margin-right: 5px;
}

#comms-panel button {
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #8a8bb3;
  background-color: #eee;
  color: black;
}

#port-scan-button {
  width: 60px;
  flex: 0 0 auto;
}
