@import "../../variables.less";

.panel.workspace-panel {
  flex: 1 0 auto;

  .machine-bed-wrapper {
    flex: 1 1 auto;
    overflow: hidden;
    &.panning { cursor: move; }
  }

  .machine-bed-transform {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-origin: 0 0;
    transform: scale(1) translate(0, 0);
    transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .panning .machine-bed-transform {
    transition: none;
  }

  .machine-bed {
    border: 1px dashed #f5d005;
    position: relative;

    .template-slot {
      position: absolute;
      z-index: 0;
      border: 1px solid green;

      &.can-drop {
        background-color: fade(green, 10%);
        z-index: 2;
      }
      &.drag-hover { background-color: fade(green, 50%); }
    }

    .workspace-item {
      position: absolute;
      z-index: 1;
      border: 1px solid transparent;
      box-sizing: border-box;

      img { filter: invert(100%); }

      &.highlight { border-color: fade(lime, 50%); }
    }
  }

  .zoom-buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    .flex-row();
    align-items: center;



    .button-group { margin-right: 5px; }
    button {
      height: 24px;
      font-size: 10px;
    }
    .zoom-indicator {
      height: 22px;
      border: 1px solid grey;
      background: black;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 5px;
    }
  }

  &::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position:absolute;
    z-index: -1;
    background: url(../../../public/images/frikkin_laser_beams.jpg) top left no-repeat;
    opacity: 0.2;
    box-sizing: border-box;
  }
}
