@import "../../variables.less";

.panel.workspace-panel {
  flex: 1 0 auto;

  .machine-bed-wrapper {
    flex: 1 1 auto;
    overflow: hidden;
    &.panning { cursor: move; }
  }

  .machine-bed-translate, .machine-bed-zoom {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .machine-bed-translate {
    transform-origin: 0px 0px;
    transform: translate(0, 0);
  }
  .machine-bed-zoom {
    transform-origin: 50% 50%;
    transform: translate(0, 0);
    transition: transform 250ms ease-out;
  }

  .machine-bed {
    border: 1px dashed #f5d005;
    position: relative;
    margin: 10px;

    .template-slot {
      position: absolute;
      z-index: 0;
      border: 1px solid green;

      &.can-drop {
        background-color: fade(green, 10%);
        z-index: 2;
      }
      &.drag-hover { background-color: fade(green, 50%); }
    }

    .workspace-item {
      position: absolute;
      z-index: 1;
      border: 1px solid transparent;

      img { filter: invert(100%); }

      &.highlight { border-color: fade(lime, 50%); }
    }
  }

  &::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position:absolute;
    z-index: -1;
    background: url(../../../public/images/frikkin_laser_beams.jpg) top left no-repeat;
    opacity: 0.2;
    box-sizing: border-box;
  }
}
