@import "../variables.less";

.main-content {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;

  & > section {
    display: flex;
    flex-direction: column;

    &.left-column {
      width: 355px;
      border-right: @panel-border;
    }
    &.center-column {
      flex: 1 1 auto;
    }
    &.right-column {
      width: 300px;
      border-left: @panel-border;
    }
  }
}
